@import "../colors/colors";

.header {
  &-wrapper {
    border-bottom: 1px solid $green;
  }

  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-search {
    & i {
      margin-right: 10px;
    }
  }
}

@media (max-width: 640px) {
  .header{
    & .logo{
      font-size: 24px;
    }
  }
}

@media (max-width: 550px) {
  .header{
    &-search input {
      display: none;
    }
  }
}